/* Dependencies */
/*
 ===== Variables ======
 === Change global colors, etc. ===
 */
/*
 ===== Layers ======
 === Basically containers ===
 */
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: "Proxima Nova", sans-serif;
  background: #3e4651;
  color: #b1bece; }

a {
  color: #c5cfdb;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  a:hover {
    color: #b1bece; }

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 720px) {
    .container {
      width: 95%; } }

.main {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Elements */
/*
 ===== Headers ===== 
 === Styling for h1 - h6 ===
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0; }

.main-header {
  font-family: "Lobster", "Proxima Nova", sans-serif;
  font-size: 80px;
  color: #d4d4d4;
  margin-bottom: 60px; }
  .main-header a {
    color: #b1bece; }
  @media (max-width: 720px) {
    .main-header {
      font-size: 50px; } }

.sub-header {
  color: #f0f2f5;
  display: block;
  font-weight: thin; }

/*
	===== Forms =====
	=== Anything related to forms ===
 */
input[type="text"] {
  padding: 10px;
  border-radius: 25px;
  background: #fff;
  border: 0;
  transition: all 0.2s ease-in-out; }
  input[type="text"] ::-webkit-placeholder {
    color: #b1bece; }
  input[type="text"]:focus {
    background: #e6e6e6;
    border: 0;
    outline: 0; }

button {
  padding: 15px 75px 15px 75px;
  border: 0;
  background: #6c7989;
  cursor: pointer;
  border-radius: 2px;
  color: #f0f2f5;
  transition: all 0.2s ease-in-out; }
  button:hover {
    background: #56606c; }

.main-input {
  width: 60%;
  text-align: center;
  margin-bottom: 30px; }

/* Components */
/*
	===== Wide List =====
	=== List that spans the entire width of its parent ===
 */
.wide-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; }
  .wide-list li {
    height: 72px;
    opacity: 0.6;
    width: 95%;
    margin: 1px auto 0 auto;
    background: #6c7989;
    transition: all 0.2s ease-in-out; }
    .wide-list li .wide-list-grid {
      height: 72px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 72px;
      color: #b1bece;
      text-decoration: none; }
      .wide-list li .wide-list-grid .wide-list-img {
        width: 72px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-right: 5px;
        overflow: hidden;
        background: #fff; }
        .wide-list li .wide-list-grid .wide-list-img img {
          width: 72px;
          height: auto; }
      .wide-list li .wide-list-grid .wide-list-titles {
        width: 70%;
        padding: 10px; }
        .wide-list li .wide-list-grid .wide-list-titles .wide-list-title {
          font-size: 18px;
          font-weight: bold; }
        .wide-list li .wide-list-grid .wide-list-titles .wide-list-sub {
          font-size: 12px; }
      .wide-list li .wide-list-grid .wide-list-price {
        width: 30%;
        color: #4adf8e;
        font-size: 32px;
        font-weight: bold;
        text-align: center; }
      .wide-list li .wide-list-grid > * {
        padding-left: 5px;
        padding-right: 5px; }
    .wide-list li:last-child {
      border: 0; }
    .wide-list li.active {
      opacity: 1.0;
      width: 100%;
      margin-bottom: 10px;
      border: 0; }
    .wide-list li:hover {
      opacity: 1.0; }
    @media (max-width: 720px) {
      .wide-list li {
        width: 100%;
        height: auto;
        margin-bottom: 10px; }
        .wide-list li .wide-list-grid {
          height: auto;
          padding-top: 165px;
          padding-left: 0; }
          .wide-list li .wide-list-grid .wide-list-img {
            width: 100%;
            height: 50%;
            top: 0;
            left: 0;
            right: 0; }
            .wide-list li .wide-list-grid .wide-list-img img {
              width: 100%; }
          .wide-list li .wide-list-grid .wide-list-titles {
            width: 60%; }
          .wide-list li .wide-list-grid .wide-list-price {
            width: 40%; } }
    .wide-list li:nth-child(2) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .wide-list li:nth-child(3) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .wide-list li:nth-child(4) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .wide-list li:nth-child(5) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .wide-list li:nth-child(6) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .wide-list li:nth-child(7) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .wide-list li:nth-child(8) {
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s; }
    .wide-list li:nth-child(9) {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    .wide-list li:nth-child(10) {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s; }
    .wide-list li:nth-child(11) {
      -webkit-animation-delay: 1.0s;
              animation-delay: 1.0s; }
    .wide-list li:nth-child(12) {
      -webkit-animation-delay: 1.1s;
              animation-delay: 1.1s; }
    .wide-list li:nth-child(13) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; }
    .wide-list li:nth-child(14) {
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s; }
    .wide-list li:nth-child(15) {
      -webkit-animation-delay: 1.4s;
              animation-delay: 1.4s; }

/* Misc */
/*
 ===== Utilities =====
 === Anything that helps something else ===
 */
.text-center {
  width: 100%;
  text-align: center; }

/*
	===== Animations =====
	=== Adding onto animate.css ===
 */
.slideRight.ng-enter {
  -webkit-animation: slideInRight .4s;
          animation: slideInRight .4s; }

.slideRight.ng-leave {
  -webkit-animation: slideOutLeft .4s;
          animation: slideOutLeft .4s; }

.slideLeft.ng-enter {
  -webkit-animation: slideInLeft .4s;
          animation: slideInLeft .4s; }

.slideLeft.ng-leave {
  -webkit-animation: slideOutRight .4s;
          animation: slideOutRight .4s; }
