/*
 ===== Utilities =====
 === Anything that helps something else ===
 */

// Center Text
.text-center {
	width: 100%;
	text-align: center;
}

.push-top-lg {
	margin-top: 60px;
}

.push-bot-lg {
	margin-bottom: 60px;
}

.push-bot-md {
	margin-bottom: 30px;
}
